* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-menu-dark .ant-menu-item-selected {
    background-color: #fff !important;
    color: #000 !important;
}

.ant-menu-dark .ant-menu-item:hover {
    background-color: #fff !important;
    color: #000 !important;
}